.header-btn{
    background: linear-gradient(to left bottom,
                                rgba(255, 255, 255, 0.7),
                                rgba(255, 255, 255, 0.5));
    height: 9vh;
    display: flex;
    align-items: center;
}

.header-btn div{
    margin-left: 1rem;
    width: 35%;
    height: 50%;
    display: flex;
    align-items: center;
}

.header-btn a{
    background: linear-gradient(to right top,
                                rgba(255, 255, 255, 0.9),
                                rgba(255, 255, 255, 0.7));
    border-radius: 1rem;
    height: 2rem;
    width: 90%;
    text-align: center;
    padding-top: 0.25rem;
    transition: all 0.3s ease;
}

.header-btn a:hover{
    background-color: white;
    width: 92%;
    height: 2.2rem;
    color: #2ed573;
}

